@model IEnumerable<Domain.Entity.TaskViewModel>

@{
    ViewData["Title"] = "Задачи";
}

<h1>Задачи</h1>

<p>
    <a asp-controller="Task" asp-action="Create" class="btn btn-primary">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    <a asp-controller="Task" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Изменить</a>
                    <a asp-controller="Task" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>


